/*
First define the basic page style
*/

html
	{
	}

body
	{
	background-color: #cccccc;
	background-image: url('/images/background.gif');
	margin: 0px;
	overflow: hidden;
	font-family:sans-serif, Helvetica, Tahoma, Verdana, Arial;
	font-size: 12px;
	}

form
	{
	margin: 0px;
	font-family:sans-serif, Helvetica, Tahoma, Verdana, Arial;
	font-size: 11px;
	}
input
        {
        outline: none;
        }
input[type="text"]
	{
	border: solid 1px #fff;
	border-bottom: dotted 1px #bbb;
	background-color: #f9f9f9;
	font-family:sans-serif, Helvetica, Tahoma, Verdana, Arial;
	font-size: 11px;
	}
input[type="text"]:focus
	{
	border: solid 1px #bbb;
	background-color: #ffffff;
	}
input[type="password"]
	{
	border: solid 1px #fff;
	border-bottom: dotted 1px #bbb;
	background-color: #f9f9f9;
	font-family:sans-serif, Helvetica, Tahoma, Verdana, Arial;
	font-size: 11px;
	}
input[type="password"]:focus
	{
	border: solid 1px #bbb;
	background-color: #ffffff;
	}
input[type="button"]
	{
	border: solid 1px #bbb;
	background-image: url('/images/button_bg.gif');
	background-repeat: repeat-x;
	height: 22px;
	font-family:sans-serif, Helvetica, Tahoma, Verdana, Arial;
	font-size: 11px;
	font-weight: bold;
	}
input[type="button"]:hover
	{
	border: solid 1px #888;
	background-image: url('/images/button_bg_on.gif');
	background-repeat: repeat-x;
	}
input[type="submit"]
	{
	border: solid 1px #bbb;
	background-image: url('/images/button_bg.gif');
	background-repeat: repeat-x;
	height: 22px;
	font-family:sans-serif, Helvetica, Tahoma, Verdana, Arial;
	font-size: 11px;
	font-weight: bold;
	}
input[type="submit"]:hover
	{
	border: solid 1px #888;
	background-image: url('/images/button_bg_on.gif');
	background-repeat: repeat-x;
	}
input[type="reset"]
	{
	border: solid 1px #bbb;
	background-image: url('/images/button_bg.gif');
	background-repeat: repeat-x;
	height: 22px;
	font-family:sans-serif, Helvetica, Tahoma, Verdana, Arial;
	font-size: 11px;
	font-weight: bold;
	}
input[type="reset"]:hover
	{
	border: solid 1px #888;
	background-image: url('/images/button_bg_on.gif');
	background-repeat: repeat-x;
	}

select
	{
	border: solid 1px #bbb;
	background-color: #f9f9f9;
	font-family:sans-serif, Helvetica, Tahoma, Verdana, Arial;
	font-size: 11px;
	}

a:link
	{
	color: #273d93;
	/* color: #fc6c6f; */
	text-decoration: underline;
	}
a:visited
	{
	color: #273d93;
	text-decoration: underline;
	}
a:hover
	{
	color: #FF0000;
	text-decoration: underline;
	}
a:active
	{
	color: #000000;
	text-decoration: underline;
	}

a.tbTextSmall:link
	{
	font-weight:bold;
	color: #273d93;
	text-decoration: none;
	}
a.tbTextSmall:visited
	{
	font-weight:bold;
	color: #273d93;
	text-decoration: none;
	}
a.tbTextSmall:hover
	{
	font-weight:bold;
	color: #b00;
	text-decoration: none;
	}
a.tbTextSmall:active
	{
	font-weight:bold;
	color: #00d;
	text-decoration: none;
	}

/*
Definition of the text formats
*/

.normalText
	{
	font-weight:normal;
	font-size:12px;
	color:#464646;
	}

.normalTextSmall
	{
	font-weight:normal;
	font-size:11px;
	color:#464646;
	}

.normalTextBig
	{
	font-weight:normal;
	font-size:14px;
	color:#464646;
	}

.boldText
	{
	font-weight:bold;
	font-size:12px;
	color:#464646;
	}

.boldTextBig
	{
	font-weight:bold;
	font-size:14px;
	color:#464646;
	}

.errorText
	{
	font-weight:bold;
	color:#bb0000;
	}

.boldTextSmall
	{
	font-weight:bold;
	font-size:11px;
	color:#464646;
	}

.selectedDocOutline
	{
	clear: left;
	width: 62px;
	height: 91px;
	border: solid 1px #273d93;
	}

.selectedDoc
	{
	clear: left;
	width: 64px;
	height: 3px;
	background-color: #273d93;
	margin-top: 1px;
	}

.copyright
	{
	font-weight:bold;
	font-size:11px;
	color:#555555;
	}


/*
Definition of the form elements
*/

.normalForm
	{
	margin: 0px;
	}
	
.normalTextField
	{
	width: 130px;
	height: 19px;
	border: solid 1px #464646;
	font-weight:bold;
	font-size:11px;
	color:#888888;
	}


/*
Definition of the text DIVs
*/
.scrollingContainer
	{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	/* padding-top: 40px; */
	}

.mainContainer
	{
	width: 100%;
	height: 100%;
	z-index: -1; 
	}
	
.subContainer
	{
	width: 970px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
    	}

.subHeader
	{
	clear: left;
	width: 970px;
	height: 88px;
	background-image: url('/images/header.jpg');
	background-repeat: repeat;
	}

.suiteMember
	{
	clear: left;
	width: 970px;
	height: 18px;
	padding-left: 743px;
	background-image: url('/images/middle.jpg');
	background-repeat: repeat-y;
	font-weight:bold;
	font-size:11px;
	color:#464646;
	}
 
.pageTitle
 	{
 	clear: left;
	width: auto;
	height: 30px;
	padding: 0px;
	font-weight:bold;
	font-size: 26px;
	color:#464646;
	}
 	
.subFooter
	{
	clear: left;
	width: 970px;
	height: 88px;
	background-image: url('/images/footer.jpg');
	background-repeat: repeat;
	}
		
.subContents
	{
	clear: left;
	background-color: #ffffff;
	background-image: url('/images/middle.jpg');
	background-repeat: repeat-y;
	padding-left: 22px;
	padding-right: 20px;
	}

.fieldTitle
	{
	clear: left;
	float: left;
	width: 145px;
	height: 22px;
	padding-top: 3px;
	font-weight:bold;
	font-size:12px;
	text-align: right;
	}

.fieldSelf
	{
	float: left;
	width: 100px;
	height: 16px;
	text-align: left;
	}

.overviewHeader
	{
	clear: left;
	width: auto;
	height: 20px;
	background-image: url('/images/title_bg.gif');
	background-repeat: repeat-x;
	border: solid 1px #ccc;
	font-weight: bold;
	font-size: 11px;
	text-align: left;
	}
.overviewList
	{
	clear: left;
	width: auto;
	height: auto;
	border-bottom: dotted 1px #ccc;
	background-color: #fff;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	font-size: 11px;
	text-align: left;
	}
	
.createNew
	{
	text-align: right;
	font-size: 11px;
	}

.toolbarCellLeft
	{
	float: left;
	width: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	margin-top: 2px;
	}

.toolbarCellRight
	{
	float: right;
	width: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	margin-top: 2px;
	}

.toolbarCell1
	{
	clear: left;
	float: left;
	width: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	margin-top: 2px;
	}

.tbDividerLeft
	{
	float: left;
	width: 1px;
	height: 29px;
	margin-top: 0px;
	background-color: #aaa;
	}
.tbDividerLeftShadow
	{
	float: left;
	width: 1px;
	height: 29px;
	margin-top: 0px;
	background-color: #ddd;
	}

.tbDividerRight
	{
	float: right;
	width: 1px;
	height: 29px;
	margin-top: 0px;
	background-color: #aaa;
	}
.tbDividerRightShadow
	{
	float: right;
	width: 1px;
	height: 29px;
	margin-top: 0px;
	background-color: #ddd;
	}

.tbMenuItems
	{
	font-weight: bold;
	clear: left;
	width: auto;
	height: 19px;
	border-bottom: solid 1px #eee;
	padding: 5px 0 2px 25px;
	cursor: auto;
	background: none;
	color: #273d93;
	}
.tbMenuItems:hover
	{
	cursor: pointer;
	background-color: #555;
	color: #fff;
	}

.tbMenuItemsWithIcon
	{
	font-weight: bold;
	clear: left;
	width: auto;
	height: 19px;
	border-bottom: solid 1px #eee;
	padding: 5px 0 2px 25px;
	cursor: auto;
	background-image: url('/images/home_small.png');
	background-repeat: no-repeat;
	background-color: none;
	color: #273d93;
	}
.tbMenuItemsWithIcon:hover
	{
	cursor: pointer;
	background-color: #555;
	color: #fff;
	}

.listHeaders
	{
	clear: left;
	width: 950px;
	height: 21px;
	background-color: #ccc;
	background-image: url('/images/header_bg.gif');
	background-repeat: repeat-x;
	}
.listRowsLeftCB
	{
	clear: left;
	float: left;
	width: 30px;
	text-align: center;
	padding-top: 1px;
	}	
.listRowsLeft
	{
	clear: left;
	float: left;
	text-align: center;
	padding-top: 1px;
	}	
.listRowsMain1
	{
	clear: left;
	width: 950px;
	height: auto;
	cursor: auto;
	background-color: #f5f5f5;
	}
.listRowsMain1:hover
	{
	background-color: #cce;
	cursor: default;
	}
.listRowsMain2
	{
	clear: left;
	width: 950px;
	height: auto;
	cursor: auto;
	background-color: #ededed;
	}
.listRowsMain2:hover
	{
	background-color: #cce;
	cursor: default;
	}
.listRows
	{
	float: left;
	padding-left: 2px; 
	padding-top: 2px;
	}
.listColDivider
	{
	float: left;
	width: 1px;
	height: auto;
	min-height: 21px;
	margin-bottom: 0px;
	background-color: #fff;
	}	

.liveChat
	{
	float: right;
	padding-right: 5px;
	padding-top: 25px;
	color: #f00;
	font-weight: bold;
	cursor: auto;
	}
.liveChat:hover
	{
	cursor: pointer;
	color: #b00;
	}

.buff1
	{
	clear: left;
	width: 1px;
	height: 1px;
	}
	
.buff2
	{
	clear: left;
	width: 1px;
	height: 2px;
	}
	
.buff3
	{
	clear: left;
	width: 1px;
	height: 3px;
	}
	
.buff5
	{
	clear: left;
	width: 1px;
	height: 5px;
	}

.buff10
	{
	clear: left;
	width: 1px;
	height: 10px;
	}

/*

fixes 
line break in submit buttons:  &#10; 
overflow: visible; IE fix for 

*/
.infiniteCarousel {
  width: 445px;
  position: absolute;
}

.infiniteCarousel .wrapper {
  width: 430px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  overflow: auto;
  height: 105px;
  margin: 0 40px;
  position: absolute;
  top: 0;
}

.infiniteCarousel .wrapper ul {
  width: 1px; /* single item * n */
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul li {
  display:block;
  float:left;
  padding: 10px;
  height: 85px;
  width: 190px;
}

.infiniteCarousel ul li img {
    -webkit-transition: border-color 400ms;
}

.infiniteCarousel ul:hover li img {
  border-color: #000;
}

.infiniteCarousel ul:hover li:hover img {
  border-color: #333;
}

.infiniteCarousel ul li a img {
  display:block;
}

.infiniteCarousel .arrow {
  display: block;
  height: 36px;
  width: 37px;
  background: url(images/arrow.png) no-repeat 0 0;
  text-indent: -999px;
  position: absolute;
  top: 25px;
  cursor: pointer;
  outline: 0;
}

.infiniteCarousel .forward {
  background-position: 0 0;
  right: 0;
}

.infiniteCarousel .back {
  background-position: 0 -72px;
  left: 0;
}

.infiniteCarousel .forward:hover {
  background-position: 0 -36px;
}

.infiniteCarousel .back:hover {
  background-position: 0 -108px;
}


#mainContainer{
		width: 1000px;
		height: 700px;
		background-color: white;
		margin: auto;
		margin-top: 35px;
		box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		    display: block;
    		border-width: 0;
    		padding: 20px;
    }

	.list{
		border:solid 1px;
	}

	.items .ui-selected {
	    background: red;
	    color: white;
	    font-weight: bold;
	}
 
	.items {
	    list-style-type: none;
	    margin-left: 10px;
	    padding: 0;
	    width: 100px;
	    float: left;
	}
 

  	.button-class {
  		cursor: pointer;
  		margin: inherit;
	    background-color: #cc0000; /* Green */
	    border: none;
	    color: white;
	    padding: 10px 15px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
		width: 100%;
		margin: 30px auto;
}
.button-class-s {
  		width: 40%;
  		margin: inherit;
	    background-color: #cc0000; /* Green */
	    border: none;
	    color: white;
	    padding: 15px 32px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
}
	  	.button-class1 {
  		margin: 20px;
	    background-color: #cc0000; /* Green */
	    border: none;
	    color: white;
	    padding: 6px 30px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type=text] {
    width: 100%;
    padding: 5px 10px;
    /*margin: 8px 0;*/
    /*display: inline-block;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


select.form-control + .chosen-container.chosen-container-single .chosen-single {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image:none;
}

select.form-control + .chosen-container.chosen-container-single .chosen-single div {
    top:4px;
    color:#000;
}

select.form-control + .chosen-container .chosen-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;

}

select.form-control + .chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container .chosen-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}

select.form-control + .chosen-container .chosen-results li , 
select.form-control + .chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image:none;
}
select.form-control + .chosen-container .chosen-results li:hover, 
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height:auto;
    padding:5px 0;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice {

    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top:8px;
    right:6px;
}

select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus{
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

select.form-control + .chosen-container-multi .chosen-results li.result-selected{
    display: list-item;
    color: #ccc;
    cursor: default;
    background-color: white;
}
.chosen-default{
	background: #f9f9f9 !important;
    color: #999999 !important;
    font-weight: 100;
}
input[type="text"]{
	font-weight: 100;	
}


.search-filter{
	width: 100%;
	margin: auto;
	border: solid 1px #d3d3d3;
}

.custombutton{
	    padding: 5px 10px;
	    width: 45%;
	    border: solid 1px #adadad;
    background: none;
    color: #cc0000;
    border-radius: 4px;
    font-size: 12px;
}

.search-btn{
	    position: relative;
    bottom: 25px;
    left: 14px;
    height: 48px;
}

.search-text {
    margin: 8px 0;
}

.date {
    margin: 8px 0;
}

.search-filter select{
	margin: 7px 0px;
	font-size: 12px;
	font-weight: 200;
}

.pagination{
	position: absolute;
	margin: 29px 0;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #cc0000;
    border-color: #cc0000;
}

.pagination>li>a, .pagination>li>span {
    color: #cc0000;
    cursor: pointer;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	background-color: #cc0000;
	color: white;
	border-color: #cc0000;
}

.side-btn{
	width: 355px;
	float: right;
	margin-right: -30px;
}

.table-list{
	font-size: 11px;
}

.table-list th {
    text-align: center;
}
td.centered{
	text-align: center;
}


.modal-header{
	background: #cc0000;
	color: #fff;
}

.modal-header .close {
    font-size: 21px;
    font-weight: 1000;
    color: #fff;
    text-shadow: 0 1px 0 #000;
     opacity: 1; 
}

.bordered{
	border: solid 1px #d3d3d3;
}