#create_bill_of_lading .modal-dialog{
    width: 100%;
	/*width: 1317px;*/
        margin-top: 0px;
}
#create_bill_of_lading .modal-body{
    height: 80%;
    overflow: auto;
}
.bordered{
	padding: 10px;
	font-size: 11px;
	margin: 5px 0px 5px 0px;
}
.bordered div{
	padding-left: 10px;
	padding-right: 10px;
}

#create_bill_of_lading input[type=text], #create_bill_of_lading select, #create_bill_of_lading input[type=number] {
    padding: 0px 5px;
    border-radius: 2px;
    height: 20px;
    font-size: 11px;
 }

.bordered .col-sm-4{
	padding: 0px;
}

.bordered .form-group {
    margin-bottom: 5px;
}

.bordered .checkbox, .radio {
     margin-top: 0px; 
     margin-bottom: 0px; 
}
.bordered label{
	font-weight: 700;
}


.no-wrap{
	white-space: nowrap;
}
.no-margin{
	margin: 0px !important;
}



#create_bill_of_lading .chosen-single{
    padding: 0px 5px;
    border-radius: 2px;
    height: 20px;
    font-size: 11px
}
#create_bill_of_lading .chosen-single span{
   margin-top: 2px;
}
 #create_bill_of_lading .chosen-results{
    padding: 0px 5px;
    border-radius: 2px;
    font-size: 11px
 }

 .radio-inline {
    width: 70px;
}
.no-pad{
    padding: 0px;
    padding-right: 10px;
    width: 33%;
    /*width: 429px;*/
}
.form_3, .form_4, .form_5, .form_6{
    position: absolute;
    top: 82px;
    left: 33.733333333333333%;
        /*left: 440px;*/
}
.form_4{
    top: 425px;
    top: 413px;
}
/*.form_6{
    top: 160px;
}*/
.form_5, .form_6{
        left: 67%;
        /*left: 866px;*/
}
.form_5{
    display: none;
}
#add_billing_container_2 .bordered{
       height: 358px; 
       height: 250px; 
}
#add_billing_container_4 .bordered{
       height: 317px; 
       height: 221px; 
}