select.form-control + .chosen-container.chosen-container-single .chosen-single {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image:none;
}

select.form-control + .chosen-container.chosen-container-single .chosen-single div {
    top:4px;
    color:#000;
}

select.form-control + .chosen-container .chosen-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;

}

select.form-control + .chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container .chosen-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}

select.form-control + .chosen-container .chosen-results li , 
select.form-control + .chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image:none;
}
select.form-control + .chosen-container .chosen-results li:hover, 
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height:auto;
    padding:5px 0;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice {

    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top:8px;
    right:6px;
}

select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus{
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

select.form-control + .chosen-container-multi .chosen-results li.result-selected{
    display: list-item;
    color: #ccc;
    cursor: default;
    background-color: white;
}
.chosen-default{
	background: #f9f9f9 !important;
    color: #999999 !important;
    font-weight: 100;
}
input[type="text"]{
	font-weight: 100;	
}


.search-filter{
	width: 100%;
	margin: auto;
	border: solid 1px #d3d3d3;
	/*margin-bottom: 20px;*/
	/*background-color: #cccccc;*/
    /*background-image: url(/images/background.gif);*/
}
.date input{    margin: 0px 0; }
.date { margin:8px 0; }
.chosen-container{margin: 0px 0 8px 0;}
#add_shipment .chosen-container{margin: 0px 0 0px 0;}

.inbound-search-btn{
        position: relative;
    bottom: 25px;
    left: 14px;
    height: 48px;
}

#inbound-list th{
    text-align: center;
}
#inbound-list{
    font-size: 11px;
}
.outbound-search-btn{
	    position: relative;
    bottom: 25px;
    left: 14px;
    height: 48px;
}

#outbound-list th{
	text-align: center;
}
#outbound-list{
	font-size: 11px;
}
#addnewshipment{
	width: 180px;
    float: right;
}


.search-text{
    margin: 8px 0;
}



#add_shipment .row{
	padding: 0px;
	margin-right: 10px;
}
#add_shipment .date{
	margin: 0px;
}
#add_shipment .row .col-sm-8{
	padding: 0px;
}

.bootstrap-datetimepicker-widget{
	z-index: 999999;
}

@media screen and (min-width: 768px) {
    .custom-class {
    	margin-top: 7%;
        width: 75%; /* either % (e.g. 60%) or px (400px) */
    }
}
.modal-header .close{
	    font-size: 2em;
}

#add_shipment .chosen-single span{
	font-weight: 700;
    font-size: 11px;
    line-height: 2;
}
#add_shipment .chosen-results li{
	font-size: 11px;
}
.has-error a.chosen-default{
	border-color: #a94442 !important;
}

#pullout_shipment .modal-dialog{
    width: 350px;
}
#pullout_shipment .modal-footer{
    padding-bottom: 0px;
}
#pullout_shipment select{
    font-weight: 100;
    font-size: 11px;
}

#inventory_modal .custom-class {
        margin-top: 7%;
        width: 1100px; /* either % (e.g. 60%) or px (400px) */
    }
#inventory_modal .modal-body {
       height: 350px;
    }

#inventory_modal label{
    white-space: nowrap;
}    
#inventory_modal .form-group{
    padding-left: 0px;
    padding-right: 0px;
}  
#inventory_modal .date {
    margin: 0px 0;
} 
#inventory_modal .form-control {
    height: 25px;
} 
#inventory_modal .input-group-addon {
    font-size: 11px;
}

.inventory_label{
text-transform: uppercase;
    border: solid 1px #cccccc;
    text-align: center;
    height: 28px;
    float: left;
    width: 100%;
    margin-top: 20px;
    line-height: 26px;
    margin-bottom: 5px;
}

#inventory-list th{
    text-align: center;
}
#inventory-list .btn{
    padding: 3px 7px;
    font-size: 11px;
    margin-top: 3px;
}

#inventory-list th, #inventory-list td{
        font-size: 11px;
}
#inventory-list tfoot input, #inventory-list tfoot select{
    margin: 0px;
    border-radius: 0px;
    height: 24px;
    border: 0px;
    width: 80px;
    background: white;
}
#inventory-list tfoot td{
    padding: 0px;
    text-align: center;
}
#inventory-list input[col="qty"]{
    width: 60px;
}
#inventory-list input[col="exp_date"]{
    width: 110px;
}
#inventory-list input[col="material_desc"]{
    width: 160px;
}
#inventory-list tbody td{
    padding: 5px;
}
.inventory_table_container{
    overflow: auto;
    height: 220px;
    float: left;
    width: 100%;
}
.has-error-container{
    border: 1px solid #a94442;
}

select[col="material_desc"]{
    width: 100% !important;
    text-align: center !important;
}
input[col="uom"]{
    width: 140px !important;
}
input[col="cbm"], input[col="qty"]{
 text-align: right !important;
}

#inventory-list .chosen-single{
    position: absolute;
    border-radius: 0px;
    margin: 0px;
    height: auto;
    width: 100%;
    border: none;
}

#inventory-list .chosen-container{
    width: 100px !important;
    font-size: 11px;
}

.links a{
    cursor: pointer;
    font-weight: bold;
    margin-right: 20px;
}
.links{
    margin-bottom: 20px;
        float: left;
    width: 100%;
}

.contenteditable{
    padding: 0 !important;
}

.contenteditable select, .contenteditable input{
    padding: 5;
    width: 100%;
    margin: 0px;
    border: none;
    border-radius: 0px;
    padding: 5px;
}
select.has-error, input.has-error{
    border: 1px solid red;
}