	#mainBody{
		width: 1000px;
		height: 700px;
		background-color: white;
		margin: auto;
		margin-top: 35px;
		box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		padding-top: 20px;
   }

 #left-container .button-class {
    margin: 5px auto;
}

.sub-container{
    margin-top:3%;
    margin-left:3%;
    color:#cc0000;
}

 #left-container{
 	display: none;
 } 

#left-container div {
   float: left;
    margin: 10px 10px;
    padding-right: 0px; 
	padding-left: 0px; 
	text-align: left;
}
 #left-container span {
   font-weight: 100;
	padding-right: 0px; 
	padding-left: 0px; 
	text-align: left;
    white-space: nowrap;
}
.storage_preview_container{
	font-size: 11px;
}

	.ware-tab{
		margin-top: 3%;
		float: left;
		width: 70%;
		margin-left: 3%;
		height: 615px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.draggableDiv{
		width:200px;
		height:100px;
		background: aqua;
	}
.warehouse_container {
	position: relative;
	top: 3px;
	left: 3px;
    width: 495px;
    height: 495px;
    background: #fff;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 0% 0%, 97% 0%, 100% 100%, 0% 80%);
}
.warehouse_border {
	margin: 20px auto;
    width: 501px;
    height: 501px;
    background: #333;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 0% 0%, 97% 0%, 100% 100%, 0% 80%);
}

.warehouse_gate {
	border: 1px solid #333;
    width: 210px;
    height: 130px;
    position: absolute;
    top: 114px;
    left: -1px;
}

.area{
	/*cursor: -webkit-zoom-in; cursor: zoom-in;*/
	width: 239px;
	height: 112px;
	position: absolute;
	/*border: 1px solid #333;*/
}
.area:hover{
	/*border: 1px solid #333;*/
}
.area em{
    margin: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 100;

}
.block_a{
	top: 0px;
	left: 0px;
	width: 479px;
	height: 113px;
}
.block_b{
    top: 114px;
    left: 243px;
    height: 130px;
}

.block_c{
	top: 245px;
	left: 243px;
	height: 130px;
}

.freezer{
	top: 234px;
	left: 240px;
	height: 132px;
}

.button-class-s{
cursor:pointer
}

.form-group {
     margin-bottom: 5px; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

.bay{
	display: none;
}

.rackStorage{
	text-align: right;
	 border: solid 2px;
	 height: 100px;
	 width: 100px; 
	 cursor:move;
	 background: #d44949;
}
.bayStorage{
	text-align: right;
	background: #5050d8;
	 border: solid 2px;
	 height: 100px;
	 width: 100px;
	 cursor:move; 
}

.left-container{
	float: left;
	border: solid 1px;
	padding: 20px 20px 10px 20px;
	border: solid 1px #d3d3d3;
	text-align: center;
	width: 100%;
}
.custombutton{
	    padding: 5px 10px;
	    width: 45%;
	    border: solid 1px #adadad;
    background: none;
    color: #cc0000;
    border-radius: 4px;
}
#savewarehouse{
	float: right;
	width: 35%;
    padding: 10px;
    position: relative;
    bottom: 25px;
}
#saveshelf{
    float: right;
    width: 35%;
    padding: 10px;
    bottom: 25px;
    position: relative;
}
.rackStorage .deletethis, .bayStorage .deletethis{
	position: relative;
	bottom: 10px;
	left: 15px;
	border-radius: 10px;
	padding: 4px;
	display: none;
	z-index: 200;
}


.rotate{
	position: relative;
	top: 20%;
}

.rotateright{
    float: left;
    position: relative;
    right: 15px;
    border-radius: 10px;
    padding: 4px;
    display: none;
    z-index: 200;
}

.rotateleft{
	float: right;
	position: relative;
	left: 15px;
	border-radius: 10px;
	padding: 4px;
	display: none;
	z-index: 200;
}


#shelves{
	display: none;
}
#shelf_container{
border: solid 1px #d3d3d3;
    margin: 20px;
    height: 400px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    width: 94%;
    top: 15px;
    overflow-x: auto;
}
.function-button{
		float: right;
		margin: 0px 20px;
		width: 150px;
}
.shelves-text{
	margin: 20px;
	color: #cc0000;
}




@media screen and (min-width: 768px) {
    .custom-class2 {
    	margin-top: 7%;
        width: 35%; /* either % (e.g. 60%) or px (400px) */
    }
}

.custom-class2 .form-control {
    font-weight: 100;
    font-size: 11px;
}

.chosen-single span{
	font-weight: 100;
}
.selected_storage{
	-webkit-box-shadow: 5px 5px 15px rgba(0,0,0,.5);
    box-shadow: 5px 5px 15px rgba(0,0,0,.5);
}

#storage_view .modal-dialog{
	width: 1000px;
}

#storage_view .modal-body{
	height: 450px;
}

.rack-level{
	height: 30px;
	width: 300px;
	/*border: solid 1px black;*/
	position: relative;
	top: 15%;
	transform: translateY(-50%);
	margin: auto;
}
.rack-level .support-left{
		background-color: #53876e;
		height: 110%;
		width: 10px;
		position: absolute;
		left: -10px;
		border-left: solid 1px #191c18;
		border-right: solid 1px #191c18;
	    left: -10px;
}
.rack-level .support-right{
		background-color: #53876e;
		height: 110%;
		width: 10px;
		position: absolute;
		border-left: solid 1px #191c18;
		border-right: solid 1px #191c18;
	    right: -10px;
}
.rack-level .support-bottom{
    background-color: #ff8d52;
    width: 100%;
    position: absolute;
    border: solid 1px #191c18;
    bottom: -10px;
    height: 10px;
}
.rack-level:hover{
    /*background:  rgba(251, 127, 127, 0.63);*/
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
    
}



.rack-level:hover > .back, .rack-level:hover > .right,  .rack-level:hover >.left, .rack-level:hover >.bottom {
    border: solid 6px #000;
}


 			.shelves_container {
                margin: auto;
 				margin-top: -9px;                
                position: relative;
                transform-style: preserve-3d;
                transition: transform 0.2s ease-in;
            }

                .shelves_container .back, .shelves_container .right, .shelves_container .left, .shelves_container .bottom {
                    position: absolute;
                    padding: 10px;
                    box-sizing: border-box;
                    height: 100%;
                    width: 100%;
                    border: solid 6px #53876e;
                    color: #fff;
                    font: 10px arial;
                }



          .shelves_container .front {
                transform: translateZ(100px);
            }

            .shelves_container .back {
                transform: translateZ(-100px) rotateY(180deg) translate(0px, 2px);
            }

            .shelves_container .right {
                transform: rotateY(-270deg) translate(100px, 2px);
                transform-origin: top right;
            }

            .shelves_container .left {
                transform: rotateY(270deg) translateX(-100px) translateY(2px);
                transform-origin: center left;
            }

            .shelves_container .top {
                transform: rotateX(-270deg) translateY(-100px);
                transform-origin: top center;
            }

            .shelves_container .bottom {

                transform: rotateX(270deg) translateY(100px);
                transform-origin: bottom center;
			    background: #b98266; /* For browsers that do not support gradients */    
			    background: -webkit-linear-gradient(right, #c55e28 , #b98266); /* For Safari 5.1 to 6.0 */
			    background: -o-linear-gradient(right, #c55e28, #b98266); /* For Opera 11.1 to 12.0 */
			    background: -moz-linear-gradient(right, #c55e28, #b98266); /* For Firefox 3.6 to 15 */
			    background: linear-gradient(to left, #c55e28 , #b98266);
			    background: url("/img/steel.jpg");

            }


#rotate_shelves{
	position: absolute;
	top: 527px;
    left: 873px
}
#rotate_shelves button{
	position: relative;
	width: 40px;
	cursor: pointer;
}
#rotate_shelves .ru{
	top: -29px;
	left: -65px;
}
#rotate_shelves .rd{
    top: 3px;
    left: 23px;
}





          .box {
                position: absolute;
                height: 50px;
                width: 50px;
                transform-style: preserve-3d;
                transition: transform 0.2s ease-in;
                /*float: left;*/
                /*transform: rotateX(-15deg) rotateY(30deg) translateX(78px) translateZ(185px);*/
                    transform: translateY(50px);
            }

                .box div {
                    position: absolute;
                    padding: 10px;
                    box-sizing: border-box;
                    height: 100%;
                    width: 100%;
                    background-color: #dfcea9;
                    border: solid 1px #bbac8e;
                    color: #fff;
                    font: 10px arial;
                    transition: transform 2s;
                }

            .box .frnt {
                transform: translateZ(-50px);
            }

            .box .bck {
                transform: translateZ(-100px) rotateY(180deg);
            }

            .box .rght {
                transform: rotateY(-270deg) translateX(100px);
                transform-origin: top right;
            }

            .box .lft {
                transform: rotateY(270deg) translateX(-100px);
                transform-origin: center left;
            }

            .box .tp {
                transform: rotateX(-270deg) translateY(-100px);
                transform-origin: top center;
            }

            .box .bot {
                transform: rotateX(270deg) translateY(100px);
                transform-origin: bottom center;
            }




.area div{
    position: absolute;
    width: 100%;
    height:100%;
    padding: 0px;
}

input{
    text-align: left !important;
}
input[type="checkbox"]{
    margin: 0;
    margin-left: -20px;
}
.checkbox span{
    font-weight: bold;
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
}
#add_storage label{
    white-space: nowrap;
}

#add_storage .form-control {
    height: 27px;
}

.area table{
    width: 100%;
    height: 100%;
}
.area table td{
    width: auto;
    height: auto;
    border: solid 1px black;
}




.legend-container label{
    width: 100%;
    float: left;
    text-align: left;
}
.legend-container .legend{
        float: left;
        width: 20%;
        height: 10px;
                margin: 10px 0;
        /*border: 1px solid black;*/
}
.legend-container .legend span{
    border: 1px solid black;
    width: 20px;
    height: 20px;
    display: block;
}
.legend-container .legend_meaning{
        float: left;
        width: 80%;
        white-space: nowrap;
        text-align: left;
        margin: 10px 0;
}

.wh_green{
    background-color: green;
}
.wh_red{
    background-color: red;
}
.wh_yellow{
    background-color: yellow;
}
.wh_orange{
    background-color: orange;
}

#warehouse, .wh_header_option{
    float: left;
    width: 100%;
}
#warehouse{
    height: 500px;
    overflow: auto;
}
.wh_header_option{
    height: 46px;
}
.wh_header_option div{
   padding: 10px;
   font-weight: bold;
}
.wh_header_option span{
  float: left;
  width: 150px;
  padding: 3px;
}
.wh_header_option select{
   font-weight: normal;
   float: left;
}
.wh_select{
    float: left;
    width: 60%;
}
.wh_select select{
    max-width: 190px;
}
.wh_storage_type{
    float: left;
    width: 40%;
}
.wh_storage_type select{
    max-width: 150px;
}
.wh_storage_type span{
    width: 100px;
}

.wh_form_link{
    padding: 16px;
    /*cursor: pointer;*/
    font-weight: bold;
    text-decoration: none;
}
.wh_form_link a{
    cursor: pointer;
}

select{
    padding: 3px !important;
    height: 25px !important;
}

.form-control {
    height: 25px;
}

#additional_modal{
    background: rgba(0, 0, 0, 0.68);
}


/** pallet position type custom style **/
/*#create-pallet_position_type_container .col-sm-4{
    white-space: nowrap;
}
#create-pallet_position_type_container .checkbox label{
    width: 90%;
    float: left;
}
*/
#pallet_position_table{
    margin-top: 20px;
}
#pallet_position_table td{
    text-align: center;
}
#pallet_position_table i{
    font-size: 15px;
    color: rgba(206, 0, 0, 0.94);
    cursor: pointer;
}
#pallet_position_table th{
    font-weight: bold;
    text-align: center;
}
#pallet_position_container{
    height: 160px;
    overflow-y: auto;
}

.wh_free_roam{
    width: 100%;
    height: 535px;
}
.wh_free_roam table{
    cursor: move;
}
.wh_free_roam td{
    padding: 3px;
    font-size: 6px;
    background: green;
    border-color: white;
    font-weight: bold;
    color: white;
}
